#myAlert2{
    display: none;
  }
  .logo{
    position: relative;
    top:220px;
  }
  html{
    height: 500px;
  }
  #myAlert2{
    position: relative;
    top:10px;
  }
  a{font-size:16px}
  a:link{color:#ccc;text-decoration:none;}
  a:active{color:?#ccc;}
  a:visited{color:#ccc;text-decoration:none;}?
  a:hover{color:#ccc;text-decoration:none;}
  .wangjimima{
    float: left;
    margin-left: 5px;
    margin-top: 0px;
  }
  .qita{
    float: left;
    margin-left: 150px;
    margin-right: 0px;
    margin-top: 0px;
  }
  .box{
    position:relative;
    left: 0px;
    top:-90px;
    max-height: 500px;
  }
  .container{
    text-align: center !important;
  }
  form{
    margin:250px auto;
  }
  .yzm{
    vertical-align:middle;
    width:48%;
    height: 3%;
    margin-left:50%;
    margin-top: -20%;
 
  }