*{
      border:0px;
      padding:0px;
      margin:0px;
      border-top:0px;
}
  body {
 margin-left: 0px;
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 width: 100%;
    }
.zheng{
  width: 100%;
  height:550px;
  background-image:url(../images/8.jpg);
}
.a{
  background: url(../images/search_ico.png)  center no-repeat;
}
.img{
  position: relative;
  left:1140px;
  top:50px;
}
.input{
  width: 35px;
  height:20px;
  position: relative;
  left:1150px;
  top:50px;
  font-size: 16px;
  color:#aaa;
  
}
.searchbox {
  position: relative;
   z-index: 1;
  clear: both;
  width: 630px;
  height: 40px;
  /*margin: 40px auto 50px;*/
   border: 2px solid #e1e100;
  background-color: #fff;
  /*text-align: center;*/
  left:350px;
  top:350px;
}

.mod_select {
  position: absolute;
  left: 0;
  top: 0;
  width: 98px;
}
.mod_select .select_box {
  position: relative;
  width: 98px;
  height: 36px;
}
.mod_select .select_box .select_txt {
  display: inline-block;
  width: 98px;
  height: 36px;
  padding-left: 28px;
  overflow: hidden;
  line-height: 36px;
  font-size: 16px;
  cursor: pointer;
}
.mod_select .select_box .select-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0,-50%);
  width: 10px;
  height: 10px;
  background: url(../images/search_ico.png)  center no-repeat;

}
.mod_select .select_box .option {
  display: none;
  position: absolute;
  top: 40px;
  left: -2px;
  width: 100px;
  background-color: #fff;
  border: 2px solid #e1e100;
  border-top: 0;
}
.mod_select .select_box .option li {
  padding-left: 28px;
  font-size: 16px;
  line-height: 2;
  cursor: pointer;
}
/*.searchbox .import {
  width: 426px;
  height: 36px;
  margin-left: 100px;
  padding-left: 20px;
  border: none;
  outline: none;
}*/
.searchbox .import {
  width: 426px;
  height: 36px;
  margin-left: 100px;
  padding-left: 20px;
  border: none;
  outline: none;
}

.searchbox .btn-search {
  position: absolute;
  right: 0;
  width: 100px;
  height: 36px;
  color: #fff;
background-color: #ff7f50;

  border: 0;
}